$background: #fff;
$color: #404040;

body { 
    background: $background;
    color: $color; 
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-text-size-adjust: 200%; /* Increase text size in iPhone */
}
h1, h2, h3, h4, p, ul, ol, li {
    line-height: 1.3em;
    margin-bottom: 14px;
}
h1, h2, h3, h4 {
    // font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    // -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}